
.mapMarker {
    background-image: url('mtn.png');
    background-size: cover;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
    position: fixed;
  }

.addGym {
  position: absolute;
  top: 70px;
  left: 700px;
  font-weight: 700;
}

.filter-form {
  background-color: gray;
  padding-top: 5px;
  padding-bottom: 5px;
}

.geo-nav {
  margin-top: 60px;
}

