.gym-details {
  background-image: url(Chicago_1.jpg);
  height: 100vh;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.overlay {
    background-color: black;
    background-size: cover;
    height: 100vh;
    opacity: .5;
}

.details-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 300px;
    margin-right: 300px;
    fill-opacity: 1;
}

.class-info {
    opacity: 1;
    margin-top: 50px;
    margin-left: 300px;
    margin-right: 300px;
}

.gym-button {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.class-button {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.card-body {
    text-align: left;
    margin-left: 300px;
}

.class-details {
    margin-left: 30px;
}